.about{
    background-color: $light-grayish-blue;
    padding: 6rem 10.3125rem;
    width: 100%;

    &__heading{
        opacity: 0;
        min-width: 43.75rem;
        max-width: 43.75rem;
        width: 43.75rem;
        margin-bottom: 4.5rem;

        h2{
            margin-bottom: 3.125rem;
        }
    }

    @media screen and (max-width: 1439px){
        padding: 4rem 2.5rem;

        &__heading{
            margin: auto;
            margin-bottom: 4.5rem;
            min-width: 30.75rem;
            max-width: 30.75rem;
            width: 30.75rem;
            text-align: center;
        }
    }

    @media screen and (max-width: 767px){
        padding: 4rem 1.5rem;
        &__heading{
            min-width: 20.4375rem;
            max-width: 20.4375rem;
            width: 20.4375rem;
    
            h2{
                margin-bottom: 1.25rem;
            }   
        }
    }

    @media screen and (max-width: 374px){
        padding: 4rem 0;
        &__heading{
            margin: auto;
            margin-bottom: 4.5rem;
        }
    }

    @media screen and (max-width: 345px){
        &__heading{
            min-width: 17.5rem;
            max-width: 17.5rem;
            width: 17.5rem;
        }
    }
}